* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 180px 0; 
  background-image: url('bgPurple.jpg');
  /*background-size: cover; */
  color: #000000;
  text-align: left;
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: left;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.more {
  background-color: #3b5998;
  margin-right: 10px;
}

.call{
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: #000000;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
}

.header-left {
  float: left;
  height: 65px;
}

.header-right {
  float: right;
  margin-right: 25px;
}

.header-right a {
  line-height: 65px;
  padding: 0px 25px;
  color: #000000;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
  color: #000000;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.service-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  text-align: center;
}

.heading {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.service {
  float: left;
  width: 33%;
  padding: 0 5px;
}

.service h2 {
  color:#6C63FF;
}

.service-icon {
  position: relative;
  height: 250px;
  margin: 0 auto;
}

.service-icon img {
  width: 250px;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-top: 1px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #F2F2F2;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
  margin-top: 10px;
  margin-bottom: 50px;
  -webkit-animation: bounce .3s infinite alternate;
  -moz-animation: bounce .3s infinite alternate;
  animation: bounce .3s infinite alternate;
}
@-webkit-keyframes bounce {
  to { -webkit-transform: scale(1.2); }
}
@-moz-keyframes bounce {
  to { -moz-transform: scale(1.2); }
}
@keyframes bounce {
  to { transform: scale(1.2); }
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.categorys-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  text-align: center;
}

.category {
  float: left;
  width: 25%;
  padding: 0 5px;
}

.category h2 {
  color: #6C63FF;
}

.category-icon {
  position: relative;
  height: 180px;
  margin: 0 auto;
}

.category-icon img {
  width: 200px;
}

footer {
  padding: 30px 0;
  background-color: rgba(34, 49, 52, 1);
  color: #fff;
  text-align: center;
}
